

@model List<Book>

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/general.css">
<link rel="stylesheet" href="~/css/book.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />

<!-- header of page -->
<header class="header">
    <div class="contaner">
        <div class="header-content">
            <div class="logo">
                <img src="~/image/book-logo.jpg" alt="not found">
            </div>
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About">About</a>
                    </li>
                </ul>
            </nav>
            <div class="icon">
                <a asp-controller="LogIn" asp-action="LogOut"><i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
        </div>
</header>
<main>
    <section class="intro">

        <div class="intro-content">
            <h1>Find your Book for Choise</h1>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, quidem maxime ipsum veniam ducimus
                delectus eligendi perferendis voluptatem eveniet quia assumenda, molestiae maiores commodi. Nostrum
                molestias ut quasi praesentium repudiandae?
            </p>




            <div class="search-bar">
                <form asp-action="Search" method="post">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input name="text" type="text" placeholder="Search By Title" >
                </form>

            </div>
        </div>
    </section>
    <section class="search-result">
        <div class="contaner">
            <div class="header-con">
                <h2>Book Library</h2>
                <div class="header-button">
                    <a asp-controller="Home" asp-action="Index" type="button">End Search</a>
                    @if (@ViewBag.admin!= null && ViewBag.admin == true)
                    {
                        <a asp-controller="Book" asp-action="Add" type="button"> Add </a>
                    }

                </div>
            </div>
            <div class="book-search-result">
                <div class="book-list">
                    @foreach (Book book in Model)
                    {
                        <div class="book-item"> 
                            <div class="book-image">
                                <img src="@book.bookCoverImage" alt="Alternate Text" />
                            </div>
                            <div class="book-information">
                                <h3>@book.bookName</h3>
                                <p>Genre: <span>@book.bookGenre</span></p>
                            </div>
                            
                            @if (@ViewBag.admin == true)
                            {
                                <div class="buttons">
                                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.bookId">Edit</a>
                                <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.bookId">Delete</a>
                              </div>}
                        </div>
                    }
                </div>
               
            </div>

    </section>
</main>
